{% extends "baseNoLoged.html" %}

{% block navbar %}
<div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h2>Authorize {{ client_name }} to use your account?</h2>
    </div>
</div>
<div class="row align-items-end" id="formRow">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <p><strong>Esta aplicación podrá:</strong></p>
        <ul>
            {% for scope in scopeValues %}
            <li>
                {{ scope }}
            </li>
            {% endfor %}
        </ul>
        <p><strong>Esta aplicación NO podrá:</strong></p>
        <ul>
            {% for scope in not_scopeValues.values() %}
            <li>
                {{ scope }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <form action="{{url_for('login')+queryParams}}" method="POST">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control form-control-lg" id="inputEmail" name="email" >
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control form-control-lg" id="inputPassword" name="pass" >
            </div>
            <input type="submit" class="btn btn-dark" value="Sign in">
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}